.boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover{
    background-color: rgb(214, 214, 58);
}
.operador {
    background-color: blueviolet;
}

.operador:hover {
    background-color: coral;
}